@model backend_web_dev_assignment3.Models.Teacher

@{
    ViewBag.Title = "Teacher Details";
}

<div class="linksContainer">
    <div>
        <span>To See All Teachers</span>
        <a href="/Teacher/List" class="button">Click</a>
    </div>

    <div>
        <span>Delete this Teacher</span>
        <a href="/Teacher/ConfirmDelete/@Model.teacherid" class="button">Click</a>
    </div>
</div>


<h2>Teacher Details</h2>

<div>
    <div><span class="propertyName">Full Name - </span>@Model.teacherfname @Model.teacherlname</div>
    <div><span class="propertyName">Teacher ID - </span>@Model.teacherid</div>
    <div><span class="propertyName">Employee Number - </span>@Model.employeenumber</div>
    <div><span class="propertyName">Hire Date - </span>@Model.hiredate</div>
    <div><span class="propertyName">Salary - </span>@Model.salary</div>
</div>


